#ThemeSwitcher {
  position: absolute;
  height: clamp(4rem, 10vw, 8rem);
  aspect-ratio: 1;
  right: clamp(-4rem, -5vw, -2rem);
  top: clamp(-4rem, -5vw, -2rem);
  border-radius: 50%;
  transition: 1s ease-in-out;

  .theme {
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: var(--secondary);
    position: absolute;
    display: grid;
    place-items: center;

    &.light {
      left: 0;
      bottom: 0;
    }

    &.dark {
      right: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }
}