#Project {
  height: 100%;
  background: var(--light-background);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  box-shadow: var(--shadow) 0 10px 20px 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent);

  .project-overview {
    width: calc(100% - 2rem);
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 2rem 2rem;
  }

  .footer {
    flex-grow: 1;
    background: var(--light-background);
    backdrop-filter: blur(10px);
    border-radius: 2rem 2rem 1rem 1rem;
    margin-top: -1.5rem;
    box-shadow: var(--shadow) 0 -3px 20px;
    padding-top: 2.5rem;

    .title {
      font-size: xx-large;
      text-align: center;
      font-family: 'Solway', serif;
      color: var(--secondary);
    }

    .nav {
      padding-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }
  }
}