#Project {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .project-overview {
    width: calc(100% - 2rem);
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
  }

  .footer {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 2rem 2rem 1rem 1rem;
    margin-top: -1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -3px 20px;
  }
}