:root {
    --card-height: 450px;
    --card-width: 500px;
    --primary: #F8EDE3;
    --secondary: #85586F;
    --accent: #D0B8A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary);
}