:root {
    --card-height: 400px;
    --card-width: 500px;
    --clr-primary: #C3F8FF;
    --clr-secondar: #555555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-primary);
}