#Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #fad0c4 0%, #ffd1ff 100%);
}

.dark-theme #Home {
  background-image: linear-gradient(135deg, #3F3B6C 0%, #2C74B3 100%);
}