#IconButton {
  border: none;
  outline: none;
  padding: clamp(0.5rem, 1vw, 1rem);
  border-radius: 50%;
  background: var(--accent);
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow) 0 0 0.5rem 0.25rem;
  transition: 100ms;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
    filter: brightness(90%);
  }

  &:disabled {
    cursor: inherit;
  }

  i {
    font-size: clamp(1.25rem, 3vw, 2rem);
    color: var(--secondary);
  }
}
