#Header {
  padding-top: clamp(1rem, 5vw, 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  header {
    padding: 0 1rem;
    font-family: 'Tourney', cursive;
    font-size: clamp(3rem, 10vw, 5rem);
    color: var(--secondary);
    text-align: center;
  }
}